@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* variaveis */

:root {
    --primaryColor: #A40043;
    --secundaryColor: #CE769A;
    --terciaryColor: #E0AAC0;
    --quarteryColor: #EED0DC;
    --bgColor: #F9EFF3;
    --outGray: #c5baba;
    --elvShadow: 0px 4px 0px 0px;
    --pressShadow: 0 2.5px 0px 0px;
    --shadowPrimary: #64002a;
}

/* configuracao pagina */

body {
    font-family: "DM Sans", sans-serif;
}

/* text padrão */

.title {
    color: var(--primaryColor);
}

.subtitle {
    color: var(--primaryColor);
    font-weight: 400;
}

.content-text {
    color: var(--secundaryColor); 
}

/* warn box */

.message{
    display: flex;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
    margin: 2rem 0rem;
    justify-content: center;
    gap: 16px;
    color: #58151C;
    border-radius: var(--Radius-radius-default, 6px);
    border: 1px solid var(--colors-red-red-300, #EA868F);
    background: var(--colors-red-red-100, #F8D7DA);
}
 
.message button{
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}


.sucess{
    display: flex;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1px solid #20C997;
    background-color: #D2F4EA;
    color: #13795B;
}

/* inputs e textarea */

input {
    border-radius: 6px;
    border: 1px solid #CBD5E1;
    padding: 8px 56px 8px 12px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    transition: ease-in .1s all;
}

input::placeholder {
    color: var(--outGray);
}

input:focus {
    border: 1px solid var(--bgColor);
    outline: 2px solid rgba(164, 0, 67,.5);
}

textarea {
    border-radius: 6px;
    border: 1px solid #CBD5E1;
    padding: 8px 56px 8px 12px;;
    transition: ease-in .1s all;
    min-width: 25rem;
    font-family: 'DM Sans', sans-serif;
    max-width: 25rem;
    min-height: 2.3rem;
    max-height: 5rem;

    ::placeholder {
        color: var(--outGray);
    }
    
    :focus {
        border: 1px solid var(--bgColor);
        outline: 2px solid rgba(164, 0, 67,.5);
    }
}

/* button 1 e 2 */

/* one */

.btn-primary button{
    padding: 9px 16px;
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    width: 9rem;
    margin: 0 .4rem 0 0;
    box-shadow: var(--pressShadow) var(--shadowPrimary);
}

.btn-primary button:hover {
    border:1px solid var(--outGray);
    background: transparent;
    color: var(--primaryColor);
    box-shadow: var(--elvShadow) var(--outGray);
    transition: .2s all;
    outline: none;
}

.btn-primary button:active {
    border:1px solid var(--outGray);
    box-shadow: var(--pressShadow) var(--outGray);
    transition: .2s all;
}

/* two */

.btn-secundary button{
    background-color: transparent;
    padding: 9px 16px;
    color: var(--primaryColor);
    border-radius: 8px;
    border: 1px solid var(--outGray);
    border-radius: 8px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: 300;
    box-shadow: var(--pressShadow) var(--outGray);
}

.btn-secundary button:hover {
    border:1px solid var(--primaryColor);
    box-shadow: var(--elvShadow) var(--primaryColor);
    outline: none;
}

.btn-secundary button:active {
    border:1px solid var(--primaryColor);
    box-shadow: var(--pressShadow) var(--primaryColor);
}



