/* header */

header {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 2rem 2rem;
}

.logo a{
    display: flex;
    gap: .9rem;
    text-decoration: none;
}

/* conteudo */

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid var(--outGray);
    border-radius: 12px;
    width: 25rem;
    justify-content: center;
    margin-top: 1.5rem;


    img {
        margin-right: 2rem;
        border-radius: 8px;
    }

    .item-name {
        font-size:18pt;
        font-weight: 300;
    }

    #item-btn {
        width: 100%;
    }

    .item-price {
        color: var(--primaryColor);
        font-weight: 600;
        font-size: 13pt;
    }
    
    .item-qnt {
        color: var(--primaryColor);
        font-weight: bold;
    }
    
    .price-qnt {
        display: flex;
        margin: 1rem 0rem;
        gap: 1rem;
        align-items: center;
    
        a {
            padding: .6rem;
            border-radius: 5px;
            text-decoration: none;
            border: 1px solid var(--outGray);
            background-color: transparent;
            align-items: center;
            vertical-align: middle;
            width: 1.7rem;
            height: 1.7rem;
            color: var(--primaryColor);
            cursor: pointer;
            justify-content: center;
            display: flex;
            transition: .1s all;
        }
        
        a:hover {
            border: 1px solid var(--primaryColor);
        }
    }
    
}

.cart-info {
    background-color: var(--bgColor);
    border-radius: 12px;
    padding: 2rem 1.5rem;
    margin-top: 1.5rem;
    max-height: 19.5rem;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid var(--outGray);

    #btn-buy {
        width: 100%;
        margin-top: 1.5rem;
        
    }

    span {
        color: var(--primaryColor);
        font-weight: bold;
    }

    table {
        margin-top: 5rem;
        border-collapse: collapse;
    }

    td {
        border-top: 1px solid var(--outGray);
        padding: .3rem;
    }

    .tb-text {
        color: rgb(133, 104, 121);
    }

    .tb-value {
        text-align: right;
        padding-left: 5.5rem;
        color: var(--primaryColor);
        font-weight: 500;
    }

    
}

#cep {
    width: 50%;
}

